extends layout

block nav
    
    .navLinks
        a(href='/')
            .iphoneAppNav.nav Iphone App
        a(href='/login')
            .loginNav.nav Buyer Login

block content

    .centerContainer
        .iphoneImage    
        .bodyTxt
        .bubbleAbout
        .appStore

    .centerRedStripe
    .footerNote