doctype 5
html(lang="en" ng-app='valet')
  
    head
        title Valet Lifestyle :: Personal Shoppers for Men
        link(rel='stylesheet', href='../public/css/valet.css')
        link(href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/flick/jquery-ui.css', rel='stylesheet')
      
    body
        .header
            .headerLogo
            block nav

        block content

        .footer
            .footerCopyright c2013 Thomas Brian | rS Assignment

        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js')
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
        script(src='http://code.jquery.com/ui/1.10.3/jquery-ui.js')
        script(src='../public/js/libs/ui-router.min.js')
        script(src='../public/js/libs/ui-bootstrap.min.js')
        script(src='../public/js/libs/ui-utils.min.js')
        script(src='../public/js/libs/underscore.js')
        script(src='../public/js/app.js')
        script(src='../public/js/login.js')