
<div class="leftToolbar">
    <div class="toolbarTitle">Accepted Jobs</div>
    <div class="toolbarUnderline">
        <ul>
            <li class="sidebarLi" ng-repeat="(acceptedEventsKey, acceptedEvent) in accpetedEvents" ng-click="openAcceptedJob($index, acceptedEvent)" ng-class="{sidebarLiActive: $index==selectedIndex}">
                <a class="sidebarLinks">
                    <div class="sideBarNavItem">
                        <div class="sidebarUserName">{{acceptedEvent.clientName}}</div>
                        <div class="sideBarName">${{acceptedEvent.allowedBudget}} <span>{{acceptedEvent.title}}</span></div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="centerContent">
    <div class="detailsContainer">
        <div class="leftDetails">
            <div class="detailsJob detailsBlock">
                <div class="smDetailTitles">Job</div>
                <span class="lrgDetailValue">#0045</span>
            </div>
            <div class="detailsTitle detailsBlock">
                <div class="smDetailTitles">Event</div>
                <span class="medDetailValue">{{currentEvent.title}}</span>
            </div>
            <div class="detailsBudget detailsBlock">
                <div class="smDetailTitles">Budget</div>
                <span class="medDetailValue">${{currentEvent.allowedBudget}}.00</span>
            </div>
        </div>
        <div class="rightDetails">
            <div class="detailsJob detailsBlock">
                <div class="smDetailTitles smDeltailWide">Client</div>
                <span class="lrgDetailValue">#0045</span>
            </div>
            <div class="detailsTitle detailsBlock">
                <div class="smDetailTitles smDeltailWide">Description</div>
                <span class="smDetailValue">{{currentEvent.description}}</span>
            </div>
        </div>
        <!-- <div class="actionButtons">
            <button class="actionButton" ng-click="acceptJob()">Accept Job</button>
        </div> -->
        
        <div class="acceptedBin">
            <div class="binTitle">Wardrobe Builder</div>
            <div class="searchBar">
                <span class="searchLabel">Keyword</span>
                <input class="searchInput" placeholder="High Socks" ng-model="keyword"></input>   
                <span class="searchLabel">Designers</span>
                <input class="searchInput" placeholder="Happy Socks" ng-model="designer"></input> 
            </div>
                <div class="queryContainer">
                <span class="searchLabel">Price Min: ${{minPrice}} \ Range Max: ${{maxPrice}} </span>
                <div class="priceRange"></div>  
            </div>
            <button class="searchButton">Go</button>
        </div>

    </div>
</div>
