
<div class="leftToolbar">
    <div class="toolbarTitle">Shipped Jobs</div>
    <div class="toolbarUnderline">
        <ul>
            <li class="sidebarLi" ng-repeat="(pendingEventsKey, pendingEvent) in pendingEvents" ng-click="openPendingJob($index, pendingEvent)" ng-class="{sidebarLiActive: $index==selectedIndex}">
                <a class="sidebarLinks">
                    <div class="sideBarNavItem">
                        <div class="sidebarUserName">{{pendingEvent.clientName}}</div>
                        <div class="sideBarName">${{pendingEvent.allowedBudget}} <span>{{pendingEvent.title}}</span></div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="centerContent" ng-if="{false}">
    <div class="detailsContainer" >
        <div class="leftDetails">
            <div class="detailsJob detailsBlock">
                <div class="smDetailTitles">Formality</div>
                <span class="lrgDetailValue">{{currentEvent.formality}}</span>
            </div>
            <div class="detailsTitle detailsBlock">
                <div class="smDetailTitles">Event</div>
                <span class="medDetailValue">{{currentEvent.title}}</span>
            </div>
            <div class="detailsBudget detailsBlock">
                <div class="smDetailTitles">Budget</div>
                <span class="medDetailValue">${{currentEvent.allowedBudget}}.00</span>
            </div>
        </div>
        <div class="rightDetails">
            <div class="detailsJob detailsBlock">
                <div class="smDetailTitles smDeltailWide">Client</div>
                <span class="lrgDetailValue">{{currentEvent.clientName}}</span>
            </div>
            <div class="detailsTitle detailsBlock">
                <div class="smDetailTitles smDeltailWide">Description</div>
                <span class="smDetailValue">{{currentEvent.description}}</span>
            </div>
        </div>
        <div class="actionButtons">
            <button class="actionButton" ng-click="acceptJob()">Accept Job</button>
        </div>
    </div>
</div>
